{% load static %}
<!DOCTYPE html>
<html lang=”ja”>
    <head>
        <style>html, body, #map { width: 100%; height: 100%; }</style>
        <style>.box {height: 100%; width: 100%;}</style>
        <meta charset="utf-8"/>
        <script src="{% static 'js/map.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/list.css' %}">
        <link rel="stylesheet" href="{% static 'css/header.css'%}">
        <link rel="stylesheet" href="{% static 'css/footer.css'%}">
    </head>
    <body>
        {% include "_header.html"%}
        <div class="box">
            <div id="map"></div>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZQf51oa9pT8V99_6i_HALI9Z2SZIM9yM&callback=initMap" 
            async defer></script>
        </div>
        {% include "_footernav.html"%}
    </body>
</html>